# Node modules
node_modules/

# Build output
dist/
build/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Coverage directory
coverage/

# IDE specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Other
*.tgz
